.name {
  margin: 1.5rem 0 0.5rem;
  opacity: 0.7;
}

.filter {
  padding: 0.5rem 0;
  margin-bottom: -1px;

  border: 1px solid rgba(43, 43, 52, 0.3);
  border-bottom: none;
  border-radius: 2px 2px 0 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &__item {
    font-size: 14px;
    text-align: center;
    &:last-child {
      border-left: 1px solid rgba(43, 43, 52, 0.3);
    }
  }
}
