.apartments-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  &__item {
    padding: 0.75rem 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6F4F4;
    border-radius: 2px;
    transition: transform 0.8s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-4px);
    }
  }

  &__number {
    position: relative;
    width: 80px;
    height: 30px;
    margin-bottom: 2rem;

    &-value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

